body {
    background-color: rgb(206, 164, 86);
}

.cool {
    visibility: hidden;
    width: 100px;
    height: 100px;
    background-color: rgb(85, 85, 213);
    transition: background-color 2s;
}

.cool.red {
    visibility: visible;
    background-color: rgb(249, 119, 158);
}